body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#desktop {
    width: 100%;
    height: calc(100% - 40px);
    background-color: #6CB4E6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    flex-wrap: wrap;
    gap: 20px;
}

.folder {
    width: 10%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    border: 1px solid black;
    gap: 5px;
}

.folder img {
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

.window {
    width: 300px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.window-menubar {
    background-color: #00008b;
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    cursor: move;
}

.window-controls {
    display: flex;
    gap: 5px;
}

.window-controls button {
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.window-content {
    flex-grow: 1;
    padding: 10px;
}

#taskbar {
    width: 100%;
    height: 40px;
    background-color: #305168c1;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 10px;
    position: absolute;
    bottom: 0;
}

#start-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
}

#start-icon img {
    width: 40px;
    height: 40px;
}

#taskbar-windows {
    display: flex;
    gap: 10px;
}

.taskbar-window {
    background-color: #555;
    padding: 5px 10px;
    cursor: pointer;
}

#start-menu {
    position: absolute;
    bottom: 40px;
    width: 200px;
    background-color: #fff;
    border: 1px solid #000;
    display: none;
    flex-direction: column;
    padding-left: 20px;
}

#start-menu-content {
    padding: 10px;
}